html {
  scroll-behavior: smooth;
}

.secret{
    padding: 40px;
    color: black;
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
}

#scroll{
    margin-top: 30px;
}

#secretLinksContainer{
    color: black;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
       
}

.secret-link{
    display: inline;
    margin-left: 5px; 
    margin-right: 5px; 
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    border: none;
    font-size: 26px;
    padding-bottom: 5px;
    background-color: white;
}

.active-secret-link{
    border-bottom: solid 1px black;
}



@media screen and (max-width: 1000px) {
    #secretLinksContainer{
        font-size: 45px;
    }

    .secret-link{
        margin-left: 15px; 
        margin-right: 15px; 
        font-size: 45px;
    }
}



/*add secret page */

h1{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#secretInput{
    height: 70vh;
    font-size: 40px;
    border: solid 1px black;
    margin-left: 10%; 
    margin-right: 10%;
    width: 80%;
}

#saveButton{
    height: 50px; 
    margin-left: 20%; 
    margin-right: 20%;
    width: 60%;
    border-radius: 5px; 
    border: solid 1px black;
    cursor: pointer;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 20px;
}





